body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: white;
    font-size:40px;
}

h2 {
    color: white;
    font-size: 30px;
}

p {
    color: white;
}

pre {
    color: white;
    font-size: 20px;
    transition: all;
    padding: auto;
}

a {
    text-decoration:none;
    text-align:center;
    background-color: orange;
    font-size: 20px;
    padding: 15px;
    margin:10px;
    border-radius: 25px;
    color: white;
}

a:hover {
    color: black;
}

table,
th, td {
    color: white;
    padding: 20px;
    border-collapse: collapse;
    border: 1px solid orange;
    text-align: center;
}

footer {
    color: white;
    padding: 50px;
    text-align: center;
}
